# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Django
# ===============================
db.sqlite3
*.log

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Virtual Environment (olur da yanlış yerde açarsan diye)
# ===============================
venv/
.env/
.venv/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Media files (user uploads varsa)
# ===============================
media/
staticfiles/
