body
{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
h1
{
    margin-top: 100px;
}
.row a
{
    text-decoration: none;
}


.card img
{
    width: 100%;
    max-height: 228.33px;
}

.card
{
    max-width: 350px;
    transform: scale(1);
    transition: transform ease-in-out 0.3s;
}

.card:hover
{
    transform: scale(1.1);
}

.small
{
    display: inline-block;
    background-color: blueviolet;
    width: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    color: white;
}